name: an_modules
description: "A toolkit in Flutter that is modularized according to business functionality, providing modular registration and other features."
version: 1.2.0-pre.1
homepage: https://github.com/aymtools/an_modules/
issue_tracker: https://github.com/aymtools/an_modules/issues

environment:
  sdk: '>=3.4.0 <4.0.0'
  flutter: '>=3.22.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: any
