# .github/workflows/publish.yml
name: Publish to pub.dev

on:
  push:
    tags:
      - 'v*.*.*'
      - 'v*.*.*-*.*'

jobs:
  publish:
    uses: aymtools/futter-ci/.github/workflows/publish.yml@main
