# .github/workflows/publish.yml
name: Publish to pub.dev

on:
  push:
    tags:
      - 'v*.*.*'
      - 'v*.*.*-*.*'

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    uses: aymtools/flutter-ci/.github/workflows/flutter-publish.yml@main
